.torrent-collection-container
    height 100%
    width 100%
    position fixed
    background-color #070707
    -webkit-user-select none
    opacity 1
    .margintop
        height 100px
    .content
        margin 0 auto
        width 85%
        height calc(100% - 140px)
        color #797979
        font-weight 100
        font-family sans-serif
        font-size 17px
        .onlinesearch
            position relative
            top -10px
            padding-left 190px
            width 550px
            margin 0 auto
            .engine-selector
                position absolute
                margin-left -185px
                div
                    width 30px
                    height 30px
                    opacity 0.2
                    float left
                    cursor pointer
                    -webkit-transition opacity 0.1s ease-in
                    transition opacity 0.1s ease-in
                    &:hover
                        width 30px
                        height 30px
                        opacity 0.9
                        float left
                        cursor pointer
                        -webkit-transition opacity 0.1s ease-in
                        transition opacity 0.1s ease-in
                    &.active
                        opacity 1
                div#leetx-icon
                    -webkit-filter brightness(0.65)
                    background url("../images/icons/leetx.png")
                    -webkit-background-size contain
                    background-size contain
                div#tpb-icon
                    -webkit-filter brightness(0.65)
                    background url("../images/icons/tpb.png")
                    -webkit-background-size contain
                    background-size contain
                div#rarbg-icon
                    -webkit-filter brightness(0.65)
                    background url("../images/icons/rarbg.png")
                    -webkit-background-size contain
                    background-size contain
            .online-search2
                margin-left 20px
                cursor pointer
                -webkit-transition color 0.3s
                transition color 0.3s
                &:hover
                    color #ffe035
            .online-search3
                margin-left 5px
                cursor pointer
                -webkit-transition color 0.3s
                transition color 0.3s
                &:hover
                    color #ffe035
            input[type="text"]
                border 0 !important
                line-height 16px
                background-color #232324
                resize none
                color #c9c9c9
                font-family 'Open Sans', sans-serif
                font-size 13px
                padding-left 10px
                cursor text
                outline 0 !important
                height 30px
                margin-left -7px
            .online-search
                margin-left 5px
                cursor pointer
                -webkit-transition color 0.3s
                transition color 0.3s
                &:hover
                    color #ffe035
            .dropdown
                position absolute
                margin-top 9px
                margin-left -88px
                select
                    position relative
                    padding-left 5px
                    border 0 !important
                    -webkit-appearance none
                    height 30px
                    width 78px
                    line-height 25px
                    margin-top -9px
                    background-color #232324
                    cursor pointer
                    color #c9c9c9
                    font-family 'Open Sans', sans-serif
                    font-size 13px
                    float left
                    outline 0
                    padding-right 15px
                option
                    background #232324
                    border 0 !important
                    outline 0
                .dropdown-arrow
                    width 0
                    height 0
                    border-left 4px solid transparent
                    border-right 4px solid transparent
                    border-top 5px solid #c9c9c9
                    top 4px
                    margin-left -13px
                    position relative
                    float left
                    cursor pointer
        .notorrents-info
            display block
            height 90%
            margin-top 10%
            .notorrents-frame
                border 6px dashed #797979
                margin 0 auto
                width 250px
                height 250px
                border-radius 25px
                color #797979
                text-align center
                -webkit-transition all 0.3s
                transition all 0.3s
                cursor pointer
                &:hover
                    color #ffe035
                    border-color #ffe035
                &:active
                    color #fc0
                    border-color #fc0
                .notorrents-icon
                    font-size 140px
                    padding-top 20px
                .notorrents-message
                    font-family 'Open Sans Bold'
                    font-size 20px
        .collection-actions
            display none
            position absolute
            color #797979
            .collection-delete
                position fixed
                right 25px
                bottom 15px
                -webkit-transition all 0.3s
                transition all 0.3s
                cursor pointer
                &:hover
                    color #ffe035
            .collection-open
                position fixed
                right 20px
                bottom 15px
                -webkit-transition all 0.3s
                transition all 0.3s
                cursor pointer
                &:hover
                    color #ffe035
            .collection-import
                position fixed
                right 80px
                bottom 15px
                -webkit-transition all 0.3s
                transition all 0.3s
                cursor pointer
                &:hover
                    color #ffe035
            .tooltip
                min-width 150px

.torrent-collection-container .content .torrents-info,
.torrent-collection-container .content .onlinesearch-info
    display none
    margin 60px auto
    height calc(100% - 90px)
    color #fff
    font-family sans-serif
    font-size 17px
    text-align center
    overflow-x hidden
    overflow-y overlay
    -webkit-overflow-scrolling touch

.torrent-collection-container .content .torrents-info::-webkit-scrollbar,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar
    width 5px

.torrent-collection-container .content .torrents-info::-webkit-scrollbar-track,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar-track
    background-color #30333c
    border-radius 2px

.torrent-collection-container .content .torrents-info::-webkit-scrollbar-thumb,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar-thumb
    background-color #e3bd0c
    border-radius 2px

.torrent-collection-container .content .torrents-info::-webkit-scrollbar-thumb:hover,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar-thumb:hover
    background-color #fc0

.torrent-collection-container .content .torrents-info::-webkit-resizer,
.torrent-collection-container .content .onlinesearch-info::-webkit-resizer,
.torrent-collection-container .content .torrents-info::-webkit-scrollbar-corner,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar-corner,
.torrent-collection-container .content .torrents-info::-webkit-scrollbar-button,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar-button,
.torrent-collection-container .content .torrents-info::-webkit-scrollbar-track-piece,
.torrent-collection-container .content .onlinesearch-info::-webkit-scrollbar-track-piece
    display none

.torrent-collection-container .content .torrents-info .online-back,
.torrent-collection-container .content .onlinesearch-info .online-back
    position fixed
    font-size 25px
    color #797979
    cursor pointer
    right 7%
    top 152px
    -webkit-transition color 0.3s
    transition color 0.3s

.torrent-collection-container .content .torrents-info .online-back:hover,
.torrent-collection-container .content .onlinesearch-info .online-back:hover
    color #fff

.torrent-collection-container .content .torrents-info ul li.file-item,
.torrent-collection-container .content .onlinesearch-info ul li.file-item,
.torrent-collection-container .content .torrents-info ul li.result-item,
.torrent-collection-container .content .onlinesearch-info ul li.result-item
    border-bottom 1px solid rgba(255,255,255,0.06)
    background rgba(255,255,255,0.05)
    text-align left
    cursor pointer
    color #eee
    height 46px
    padding-left 40px
    padding-top 14px
    padding-right 50px

.torrent-collection-container .content .torrents-info ul li.file-item a,
.torrent-collection-container .content .onlinesearch-info ul li.file-item a,
.torrent-collection-container .content .torrents-info ul li.result-item a,
.torrent-collection-container .content .onlinesearch-info ul li.result-item a
    color #eee
    text-decoration blink
    width 100%
    display block
    -webkit-transition all 0.3s
    transition all 0.3s
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

.torrent-collection-container .content .torrents-info ul li.file-item a:hover,
.torrent-collection-container .content .onlinesearch-info ul li.file-item a:hover,
.torrent-collection-container .content .torrents-info ul li.result-item a:hover,
.torrent-collection-container .content .onlinesearch-info ul li.result-item a:hover
    color #ffe035

.torrent-collection-container .content .torrents-info ul li.file-item a:active,
.torrent-collection-container .content .onlinesearch-info ul li.file-item a:active,
.torrent-collection-container .content .torrents-info ul li.result-item a:active,
.torrent-collection-container .content .onlinesearch-info ul li.result-item a:active
    color #fc0

.torrent-collection-container .content .torrents-info ul li.file-item .item-delete,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-delete,
.torrent-collection-container .content .torrents-info ul li.result-item .item-delete,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-delete,
.torrent-collection-container .content .torrents-info ul li.file-item .item-rename,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-rename,
.torrent-collection-container .content .torrents-info ul li.result-item .item-rename,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-rename
    position relative
    color #797979
    -webkit-transition all 0.3s
    transition all 0.3s
    cursor pointer
    left calc(100% + 25px)
    top -15px

.torrent-collection-container .content .torrents-info ul li.file-item .item-delete:hover,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-delete:hover,
.torrent-collection-container .content .torrents-info ul li.result-item .item-delete:hover,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-delete:hover,
.torrent-collection-container .content .torrents-info ul li.file-item .item-rename:hover,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-rename:hover,
.torrent-collection-container .content .torrents-info ul li.result-item .item-rename:hover,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-rename:hover
    color #ffe035

.torrent-collection-container .content .torrents-info ul li.file-item .item-rename,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-rename,
.torrent-collection-container .content .torrents-info ul li.result-item .item-rename,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-rename
    left calc(100% - 15px)

.torrent-collection-container .content .torrents-info ul li.file-item .item-icon,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-icon,
.torrent-collection-container .content .torrents-info ul li.result-item .item-icon,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-icon
    position relative
    font-family FontAwesome
    font-style normal
    font-size 15px
    height 15px
    width 15px
    color #eee
    opacity 0.7
    left -25px
    margin-top -16px

.torrent-collection-container .content .torrents-info ul li.file-item .item-icon.torrent-icon:before,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-icon.torrent-icon:before,
.torrent-collection-container .content .torrents-info ul li.result-item .item-icon.torrent-icon:before,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-icon.torrent-icon:before
    content '\f016'

.torrent-collection-container .content .torrents-info ul li.file-item .item-icon.magnet-icon:before,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-icon.magnet-icon:before,
.torrent-collection-container .content .torrents-info ul li.result-item .item-icon.magnet-icon:before,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-icon.magnet-icon:before
    content '\f076'

.torrent-collection-container .content .torrents-info ul li.file-item .item-icon.magnet-icon:hover,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .item-icon.magnet-icon:hover,
.torrent-collection-container .content .torrents-info ul li.result-item .item-icon.magnet-icon:hover,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .item-icon.magnet-icon:hover
    cursor pointer
    opacity 1

.torrent-collection-container .content .torrents-info ul li.file-item .online-size,
.torrent-collection-container .content .onlinesearch-info ul li.file-item .online-size,
.torrent-collection-container .content .torrents-info ul li.result-item .online-size,
.torrent-collection-container .content .onlinesearch-info ul li.result-item .online-size
    position relative
    color #797979
    font-style normal
    font-size 0.9em
    left calc(100% - 35px)
    top -15px

.torrent-collection-container .content .torrents-info ul li.result-item a,
.torrent-collection-container .content .onlinesearch-info ul li.result-item a
    width calc(100% - 50px)
